@use "sass:map";
@use "../../../variables.scss"as *;

.container {
    font-family: var(--work-sans-font);
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: map.get($breakpoints, "sm")) {
        gap: 30px;
    }

    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100dvh - 200px);

        @media (max-width: map.get($breakpoints, "sm")) {
            height: calc(100dvh - 140px);
        }
    }
}