.table {
    min-height: 600px;
    max-height: 800px;
    overflow-y: auto;

    .head {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        color: var(--subtitle-color);

        &-th {
            white-space: nowrap;

            & div {
                display: inline-flex;
                align-items: center;
                font-size: 24px;
                vertical-align: middle;
                margin-left: 4px;
                position: relative;
                top: -1px;
                cursor: pointer;
            }

            & span {
                line-height: 0px;
                vertical-align: middle;
                line-height: 1;
            }
        }



    }


    .body-td {
        color: var(--subtitle-color);
        white-space: nowrap;
    }

    .status {
        display: block;
        padding: 4px 16px;
        border-radius: 999px;
        text-transform: capitalize;
        width: max-content;
    }

    .more {
        color: var(--subtitle-color);
        font-size: 14px;
        font-weight: 500;
    }


}