@use "sass:map";
@use "../../../../variables.scss"as *;

.back {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 40px;
        color: var(--subtitle-color);
        text-decoration: none;
        width: fit-content;

        @media (max-width: map.get($breakpoints, "sm")) {
            font-size: 14px;
        }

        @media (max-width: map.get($breakpoints, "xs")) {
            margin-bottom: 30px;
        }
}

.details {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    @media (max-width: map.get($breakpoints, "sm")) {
        gap: 10px;
    }

    @media (max-width: map.get($breakpoints, "xs")) {
        gap: 5px;
    }

    & h1 {
        font-weight: 500;
        font-size: 24px;
        color: var(--title-color);

        @media (max-width: map.get($breakpoints, "sm")) {
            font-size: 18px;
            font-weight: 600;
        }

        @media (max-width: map.get($breakpoints, "xs")) {
            font-size: 16px;
        }
    }

    &-actions {
        display: flex;
        gap: 18px;

        @media (max-width: map.get($breakpoints, "sm")) {
            gap: 10px;
        }

        @media (max-width: map.get($breakpoints, "xs")) {
            gap: 4px;
        }

        & button {
            height: 40px;
            border-radius: 8px;
            width: 170px;
            text-transform: uppercase;

            @media (max-width: map.get($breakpoints, "sm")) {
                width: 150px;
                font-size: 12px;
            }

            @media (max-width: map.get($breakpoints, "xs")) {
                padding-left: 12px;
                padding-right: 12px;
                width: auto;
                height: 32px;
                font-size: 11px;
            }

            @media (max-width: map.get($breakpoints, "xxs")) {
                padding-left: 6px;
                padding-right: 6px;
                font-size: 9px;
            }
        }
    }


}