@use "../../../../variables.scss"as *;


%section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    row-gap: 40px;
    column-gap: 30px;

    @media (max-width: map-get($breakpoints, "xl")) {
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }

    @media (max-width: map-get($breakpoints, "md")) {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        row-gap: 20px;
        column-gap: 15px;
    }

    @media (max-width: map-get($breakpoints, "sm")) {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
    @media (max-width: map-get($breakpoints, "xxs")) {
        column-gap: 10px;
    }
}

%item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--subtitle-color);

}

%label {
    font-size: 12px;
    text-transform: uppercase;

    @media (max-width: map-get($breakpoints, "sm")) {
        font-size: 9px;
    }
}

%value {
    font-weight: 500;
    font-size: 16px;

    @media (max-width: map-get($breakpoints, "md")) {
        font-size: 14px;
    }

    @media (max-width: map-get($breakpoints, "sm")) {
        font-size: 12px;
        font-weight: 600;
    }
}

.container {
    background-color: #fff;
    border-radius: 4px;
    padding: 30px;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(33, 63, 125, 0.06);

    @media (max-width: map-get($breakpoints, "md")) {
        padding: 16px;
    }

    @media (max-width: map-get($breakpoints, "xs")) {
        padding: 12px;
    }

    .section {
        margin-top: 30px;
        border-top: 1px solid rgba(33, 63, 125, 0.06);
        padding-top: 30px;

        @media (max-width: map-get($breakpoints, "md")) {
            margin-top: 20px;
            padding-top: 20px;
        }

        &:first-of-type {
            margin-top: 0;
            border-top: none;
            padding-top: 0;
        }

        &-title {
            font-weight: 500;
            font-size: 16px;
            color: var(--title-color);
            text-transform: capitalize;

            @media (max-width: map-get($breakpoints, "xs")) {
                font-size: 14px;
            }
        }

        &-list {
            @extend %section;
            margin: 0;
            padding: 0;
            list-style: none;
            margin-top: 30px;

            @media (max-width: map-get($breakpoints, "md")) {
                margin-top: 15px;
            }

            &--item {
                @extend %item;

                .label {
                    @extend %label;
                }

                .value {
                    @extend %value;
                }
            }


        }

        .subSection {
            @extend %section;
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid rgba(33, 63, 125, 0.06);

            @media (max-width: map-get($breakpoints, "md")) {
                margin-bottom: 20px;
                padding-bottom: 20px;
            }

            &:last-of-type {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }

            &:first-of-type {
                margin-top: 30px;

                @media (max-width: map-get($breakpoints, "md")) {
                    margin-top: 15px;
                }
            }

            &-item {

                @extend %item;

                .label {
                    @extend %label;
                }

                .value {
                    @extend %value;
                }
            }

        }
    }
}