@use "sass:map";
@use "../../../../variables.scss"as *;

.container {
    background-color: #fff;
    border-radius: 4px;
    padding: 30px 30px 0px 30px;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    overflow-x: auto;

    @media (max-width: map.get($breakpoints, "md")) {
        padding: 16px 16px 0px 16px;
    }

    @media (max-width: map.get($breakpoints, "xs")) {
        padding: 12px 12px 0px 12px;
    }

    .details {

        display: flex;
        gap: 35px;

        @media (max-width: map.get($breakpoints, "xl")) {
            gap: 15px;
        }

        @media (max-width: map.get($breakpoints, "lg")) {
            gap: 35px;
        }

        @media (max-width: map.get($breakpoints, "md")) {
            gap: 15px;
        }

        @media (max-width: map.get($breakpoints, "sm")) {
            flex-direction: column;
        }

        &-divide {
            width: 1px;
            background-color: var(--border-color);

            @media (max-width: map.get($breakpoints, "sm")) {
                display: none;
            }
        }

        &-profile {
            display: flex;
            align-items: center;
            gap: 18px;
            max-width: 50%;

            @media (max-width: map.get($breakpoints, "lg")) {
                max-width: 290px;
            }

            @media (max-width: map.get($breakpoints, "md")) {
                max-width: 240px;
                gap: 8px;
            }

            &--image {
                width: 100px;
                height: 100px;
                background-color: var(--dark-border-color);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                font-size: 40px;
                color: var(--title-color);

                @media (max-width: map.get($breakpoints, "lg")) {
                    width: 85px;
                    height: 85px;
                }

                @media (max-width: map.get($breakpoints, "md")) {
                    width: 70px;
                    height: 70px;
                    font-size: 30px;
                }

                @media (max-width: map.get($breakpoints, "xs")) {
                    width: 60px;
                    height: 60px;
                    font-size: 25px;
                }

                @media (max-width: map.get($breakpoints, "xxs")) {
                    width: 40px;
                    height: 40px;
                    font-size: 20px;
                }
            }

            &--info {

                & h1 {
                    font-weight: 500;
                    font-size: 22px;
                    color: var(--title-color);
                    margin-bottom: 4px;

                    @media (max-width: map.get($breakpoints, "md")) {
                        font-size: 18px;
                    }

                    @media (max-width: map.get($breakpoints, "sm")) {
                        font-size: 16px;
                        margin-bottom: 2px;
                    }
                }

                & p {
                    font-weight: 400;
                    font-size: 14px;
                    color: var(--subtitle-color);

                    @media (max-width: map.get($breakpoints, "md")) {
                        font-size: 12px;
                    }

                    @media (max-width: map.get($breakpoints, "sm")) {
                        font-size: 10px;
                    }

                }
            }
        }

        &-rating {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media (max-width: map.get($breakpoints, "sm")) {
                align-self: start;
                justify-content: start;
            }

            h2 {
                font-weight: 500;
                font-size: 14px;
                color: var(--subtitle-color);
            }
        }

        &-balance {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: var(--title-color);

            & h2 {
                font-weight: 500;
                font-size: 22px;
            }

            & p {
                font-weight: 400;
                font-size: 12px;

            }
        }

    }

    .tabs {
        margin-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;

        @media (max-width: map.get($breakpoints, "xl")) {
            padding-left: 0px;
            padding-right: 0px;
        }

        @media (max-width: map.get($breakpoints, "sm")) {
            margin-top: 20px;
        }

        &-root,
        &-list {
            border: none !important;
            --tab-border-color: transparent !important;
            overflow-x: auto;
            flex-wrap: nowrap;
        }

        &-tab {

            @media (max-width: map.get($breakpoints, "lg")) {
                font-size: 14px;
            }
            @media (max-width: map.get($breakpoints, "sm")) {
                font-size: 12px;
                padding-left: 9px;
                padding-right: 9px;
            }
        }
    }
}