
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --foreground: #171717;
  --primary-color: #39cec8;
  --secondary-color: #204079;
  --subtitle-color: #545F7D;
  --title-color: #213F7D;
  --input-color: rgba(84, 95, 125, 0.15);
  --border-color: rgba(33, 63, 125, 0.1);
  --dark-border-color: rgba(33, 63, 125, 0.2);
  --work-sans-font: "Work Sans", sans-serif;
  --roboto-font: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 10%;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
  font-family: var(--font-avenir), system-ui, sans-serif;
  color: var(--foreground);
}

.screen-height {
  min-height: 100dvh;
}

.form-control {
  height: 50px;
  padding: 6px 0px 6px 0px;
}