:root {
  --foreground: #171717;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: var(--font-avenir), system-ui, sans-serif;
  color: var(--foreground);
}

.screen-height {
  min-height: 100dvh;
}
